<!DOCTYPE html>
<html>
  <head>
    <title>SA-2018</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>106598022 monitor<%= title %></p>
    <table style="width:70%">
      <tr>
        <th>HostName</th>
        <th>IP Address / Name</th>
        <th>Status</th>
      </tr>
      <tr style="text-align:center">
        <td></td>
        <td>IP Address / Name</td>
        <td>Status</td>
      </tr>
    </table>
    <input type="text" style="width:20%;margin-left:5%;margin-top:10%" name = "hostname">
    <input type="submit" style = "width:5%">
  </body>
</html>
